
// Home row mods macro
/*
HRML(k1,k2,k3,k4) maps to:
- k1 with Left Shift when held
- k2 with Left Alt when held
- k3 with Left Control when held
- k4 with Left GUI (Windows/Command) when held
*/
#define HRML(k1,k2,k3,k4) &ht LSHIFT k1 &ht LALT k2  &ht LCTRL k3  &ht LGUI k4

/*
HRMR(k1,k2,k3,k4) maps to:
- k1 with Right GUI when held
- k2 with Right Control when held
- k3 with Right Alt when held
- k4 with Right Shift when held
*/
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3 &ht RSHIFT k4

// Right Shift + Alt Gr
#define RSA(k) RS(RA(k))
